/** 
  *
  *  ESTILOS GERAIS 
  *
  **/

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h2 {
  background-color: #fe7e02;
  padding: 10px 5px 10px 5px;
  color: white;
  text-align: center;
}

input {
  height: 20px;
  width: 500px;
}

button:focus {
  color: white;
}

img {
  width: 25%;
}

div > p:first-child {
  display: inline;
}

.botao-amarelo {
  background-color: #ffaf43;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  color: white;
}

.botao-amarelo:hover {
  background-color: #c44f00;
}

.container {
  height: 500px;
  text-align: center;
  padding-top: 1.8%;
}

.icone {
  height: 12px;
  width: 12px;
}

button:hover {
  background-color: rgb(124, 99, 65);
  color: white;
}

button:active {
  color: white;
}

/** 
  *
  *  ESTILOS HOME 
  *
  **/

#container-de-descricao {
  background-color: #2274a5;
  color: white;
}

#container-de-descricao > ol {
  padding: 15px 0px;
}

#container-para-comprar {
  background-color: #e7eb90;
  position: fixed;
  left: 0;
  right: 0;
  padding-bottom: 30%;
}

#container-para-comprar > p {
  color: #c44f00;
  padding: 100px 0;
  font-size: 60px;
}

/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
  text-align: center;
}

table {
  width: 60%;
  text-align: center;
  margin-left: 10%;
}
td {
  text-align: center;
  margin-left: 20%;
  padding: 5%;
}

td button {
  background-color: #fadf63;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  color: black;
  margin-left: 30%;
}

.search-bar {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

.container-do-search {
  margin-top: 20px;
  height: 100px;
}

#back-button {
  background-color: white;
  width: 100px;
  height: 20px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 10px;
  color: black;
  margin-left: 40%;
  margin-top: 5%;
}

#back-button:hover {
  background-color: #635a3d;
}
